body {
  margin: 0;
  padding: 0;
}
p {
  margin: 10px;
  color: white;
}
#root {
  margin: 0 auto;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#search-bar {
  position: relative;
  top: 40vh;
  border: none;
  border-color: transparent;
  box-shadow: 3px 5px 10px rgb(211, 217, 228);
  background: transparent;
  display: block;
  outline: none;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}

#info {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
}

#moon {
  display: flex;
  align-items: center;
}

.weather-details {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

#weather {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
